/**
  Author: Callum-James Smith (1806094)
  Date Created: 20-11-2019
  Last Updated: 30-11-2019
*/
.icon-dark {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(32, 32, 32, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.bg-primary {
  background-color: transparent !important; }

.btn-dark {
  border: 1px #373D3F solid;
  background: transparent;
  color: #373D3F; }

.btn-social {
  padding: auto;
  width: 60px;
  background-color: transparent;
  border: none;
  text-align: left;
  font-size: 1.4em; }

.btn-social:hover {
  background-color: transparent; }

.container-fluid {
  margin: 0;
  padding: 0;
  height: 100vh; }

.navigation-links {
  margin-right: 50px;
  padding: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.home-page {
  background: transparent;
  background-image: url(../images/ancient-architecture-asia-bench-301614.jpg);
  background-size: cover;
  background-position: center;
  color: #373D3F; }

.navbar-nav .active {
  color: #373D3F;
  text-decoration: solid underline;
  text-underline-offset: 1.2em; }

.jumbotron {
  height: auto;
  background-color: transparent; }

.modal {
  background: rgba(17, 17, 17, 0.253);
  cursor: crosshair;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity 300ms ease-in-out 1ms,visibility 1ms linear 302ms;
  transition: opacity 300ms ease-in-out 1ms,visibility 1ms linear 302ms;
  width: 100%;
  opacity: 1; }

.modal-dialog-scrollable {
  background: rgba(17, 17, 17, 0.253);
  cursor: default;
  float: right;
  max-width: 650px;
  min-height: 94vh;
  margin-right: 8px;
  opacity: 1;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
  width: 100%; }

@media (max-width: 650px) {
  .modal-dialog-scrollable {
    margin: 0;
    height: 100vh; } }

.modal-content {
  border-radius: 0; }

.posts-page {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; }

.bg-white > a,
.navbar-nav > li > a {
  color: #373D3F; }

.card {
  max-width: 1000px;
  width: 100%;
  color: #373D3F;
  margin: 0 auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1); }
