/**
  Author: Callum-James Smith (1806094)
  Date Created: 20-11-2019
  Last Updated: 30-11-2019
*/
.icon-dark {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(32, 32, 32, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.bg-primary {
  background-color: rgba(37, 37, 37, 0.5) !important; }

.container-fluid {
  margin: 0;
  padding: 0;
  height: 100vh; }

.home-page {
  background: transparent;
  background-image: url(../images/hero-bg-image.jpg);
  background-size: cover;
  background-position: center;
  color: #e9e9e9; }

.navbar-nav .active {
  color: white;
  text-decoration: underline; }

.dropdown-menu {
  background: rgba(44, 44, 44, 0.8); }

.dropdown-item {
  color: #e9e9e9; }

.jumbotron {
  height: auto;
  background-color: transparent; }

.btn-secondary {
  padding: 20px;
  background-color: rgba(37, 37, 37, 0.5);
  border: none;
  border-bottom: 1px white solid; }

.modal {
  background: rgba(17, 17, 17, 0.253);
  cursor: crosshair;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity 300ms ease-in-out 1ms,visibility 1ms linear 302ms;
  transition: opacity 300ms ease-in-out 1ms,visibility 1ms linear 302ms;
  width: 100%;
  opacity: 1; }

.modal-dialog-scrollable {
  background: rgba(17, 17, 17, 0.253);
  cursor: default;
  float: right;
  max-width: 650px;
  min-height: 100vh;
  opacity: 1;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
  width: 100%; }

.modal-content {
  border-radius: 0; }

.posts-page {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; }

.bg-white > a,
.navbar-nav > li > a {
  color: #202020; }

.card {
  max-width: 1000px;
  width: 100%;
  color: #202020;
  margin: 0 auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1); }
