$primary-color: rgba(44, 44, 44, 0.8);
$nav-bg-color: rgba(37, 37, 37, 0.5);
$primary-txt-color: rgb(233, 233, 233);
$alt-txt-color: rgb(32, 32, 32);
$hero-bg-image: url(../images/hero-bg-image.jpg);

// Set text color
@function set-text-color($color) {
    @if (lightness($color) > 40) {
      @return $alt-txt-color;
    } @else {
      @return $primary-txt-color;
    }
  }

.bg-primary {
    background-color: $nav-bg-color !important;
}

.container-fluid {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: transparent;
    background-image: $hero-bg-image;
    background-size: cover;
    background-position: center;

    color: set-text-color($primary-color);
}

.navbar-nav .active{
    color: white;
    text-decoration: underline;
}

.dropdown-menu {
    background: $primary-color;
}

.dropdown-item {
    color: $primary-txt-color;
}

.jumbotron {
    height: auto;
    background-color: transparent;
}

.btn-secondary {
    padding: 20px;
    background-color: $nav-bg-color;
    border: none;
    border-bottom: 1px white solid;
}